name: Test KiVar on macOS

on:
  workflow_dispatch:
  push:
    branches:
      - doc-fix-cli-install-guide
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    timeout-minutes: 360

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install KiCad
        run: |
          brew update
          brew install --cask kicad

      - name: Detect KiCad Python
        id: kicad
        run: |
          app="/Applications/KiCad/KiCad.app"
          py="$app/Contents/Frameworks/Python.framework/Versions/Current/bin/python3"
          echo "PY=$py" >> $GITHUB_OUTPUT

      - name: Detect KiCad Python version
        run: |
          "${{ steps.kicad.outputs.PY }}" --version

      - name: Upgrade pip
        run: |
          "${{ steps.kicad.outputs.PY }}" -m pip install --upgrade pip

      - name: Install KiVar with user option
        run: |
          "${{ steps.kicad.outputs.PY }}" -m pip install --user kivar

      - name: List KiCad app directory tree
        run: |
          KICAD_APP="/Applications/KiCad/KiCad.app"
          echo "Listing all files under $KICAD_APP"
          ls -lR "$KICAD_APP"

      - name: List Python user modules tree
        run: |
          DIRNAME="/Users/runner/Library/Python/3.9/bin"
          echo "Listing all files under $DIRNAME"
          ls -lR "$DIRNAME"

      - name: List Python base and site
        run: |
          echo "user-base"
          "${{ steps.kicad.outputs.PY }}" -m site --user-base
          echo "user-site"
          "${{ steps.kicad.outputs.PY }}" -m site --user-site

      - name: Show PATH
        run: |
          echo "Current PATH: $PATH"

      - name: Show pcbnew version
        run: |
          "${{ steps.kicad.outputs.PY }}" - << 'PY'
          import pcbnew
          version = None
          if hasattr(pcbnew, 'GetBuildVersion'):
              version = pcbnew.GetBuildVersion()
          elif hasattr(pcbnew, '__version__'):
              version = pcbnew.__version__
          else:
              version = 'unknown-version'
          print("pcbnew version:", version)
          PY

      - name: Test KiVar executable
        run: |
          "/Users/runner/Library/Python/3.9/bin/kivar" --version

      - name: Test KiVar with demo project
        run: |
          "/Users/runner/Library/Python/3.9/bin/kivar" list -s demo/kivar-demo.kicad_pcb

      - name: Test KiVar with demo project, using home path
        run: |
          "$HOME/Library/Python/3.9/bin/kivar" list -s demo/kivar-demo.kicad_pcb

      - name: Create local bin dir, if not yet there
        run: |
          mkdir -p "$HOME/.local/bin"

      - name: Create a symlink to KiVar inside home
        run: |
          ln -s "$HOME/Library/Python/3.9/bin/kivar" "$HOME/.local/bin/kivar"

      - name: Run KiVar using symlink
        run: |
          kivar list -s demo/kivar-demo.kicad_pcb
