name: Test KiVar on macOS

on:
  workflow_dispatch:
  push:
    branches:
      - doc-fix-cli-install-guide
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    timeout-minutes: 360

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install KiCad
        run: |
          brew update
          brew install --cask kicad

      - name: Detect KiCad Python
        id: kicad
        run: |
          app="/Applications/KiCad/KiCad.app"
          py="$app/Contents/Frameworks/Python.framework/Versions/Current/bin/python3"
          echo "PY=$py" >> $GITHUB_OUTPUT

      - name: Upgrade pip
        run: |
          "${{ steps.kicad.outputs.PY }}" -m pip install --upgrade pip

      - name: Install KiVar
        run: |
          "${{ steps.kicad.outputs.PY }}" -m pip install kivar

      - name: Show pcbnew version
        run: |
          "${{ steps.kicad.outputs.PY }}" - << 'PY'
          import pcbnew
          version = None
          if hasattr(pcbnew, 'GetBuildVersion'):
              version = pcbnew.GetBuildVersion()
          elif hasattr(pcbnew, '__version__'):
              version = pcbnew.__version__
          else:
              version = 'unknown-version'
          print("pcbnew version:", version)
          PY

      - name: Test KiVar executable
        run: |
          KICAD_BIN_DIR=$(dirname "${{ steps.kicad.outputs.PY }}")
          "${KICAD_BIN_DIR}/kivar" --version

      - name: Test KiVar with demo project
        run: |
          KICAD_BIN_DIR=$(dirname "${{ steps.kicad.outputs.PY }}")
          "${KICAD_BIN_DIR}/kivar" list demo/kivar-demo.kicad_pcb

      - name: Test KiVar with demo project, alternative syntax
        run: |
          "$(dirname "${{ steps.kicad.outputs.PY }}")/kivar" list demo/kivar-demo.kicad_pcb
